<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% block head %}
        {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block css %}
    {% endblock %}
</head>
<body>
    {% block top %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block layui %}
    {% endblock %}

    {% block share %}
    {% endblock %}

    {% block mask %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</body>
</html>