{% extends 'back/base.html' %}

{% block css %}
    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" href="/static/back/css/style.css">
    <!--<link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">-->

{% endblock %}

{% block js %}

     <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/back/js/jquery.js"></script>

{% endblock %}

{% block header %}
<header>
    <h1><img src="/static/back/images/admin_logo.png"/></h1>
    <ul class="rt_nav">
        <li><a href="{{ url_for('web.index') }}"  class="website_icon">站点首页</a></li>
        <li><a href="{{ url_for('first.user_message') }}" class="set_icon">账号设置</a></li>
        <li><a href="{{ url_for('first.logout') }}" class="quit_icon">安全退出</a></li>
    </ul>
</header>

{% endblock %}

{% block aside %}
<aside class="lt_aside_nav content mCustomScrollbar">
    <h2><a href="">博客后台管理系统</a></h2>
    <ul>
        <li>
            <dl>
                <dt>文章管理</dt>
                <!--当前链接则添加class:active-->
                <dd><a href="{{ url_for('first.a_type') }}">文章分类</a></dd>
                <dd><a href="{{ url_for('first.article_list') }}">文章列表</a></dd>
            </dl>
        </li>

        <li>
                <dl>
                    <dt>用户管理</dt>
                    <dd><a href="{{ url_for('first.user_message') }}">用户信息</a></dd>
                </dl>
            </li>
    </ul>
</aside>

{% endblock %}
